<!DOCTYPE html>
<html ng-app="weekendApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ist schon Wochenende?</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- flattr -->
    <script type="text/javascript">
			/* <![CDATA[ */
			(function() {
				var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
				s.type = 'text/javascript';
				s.async = true;
				s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
				t.parentNode.insertBefore(s, t);
			})();
			/* ]]> */</script>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=110257969122074";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  </head>
  <body ng-controller="WeekendController">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="flattr">
          <a class="FlattrButton" style="display:none;" href="http://istschonwochenen.de/"></a>
          <noscript><a href="http://flattr.com/thing/1127155/Ist-schon-Wochenende" target="_blank">
          <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
        </div>
        <div id="tweet">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://istschonwochenen.de" data-text="Ich habe gleich Wochenende. Und du?" data-via="sm0k1nggnu" data-hashtags="wochenende">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="fb-like" data-href="http://istschonwochenen.de" data-send="true" data-width="450" data-show-faces="true">  
        </div>
        <!--<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300">
        </div>-->
        <div class="date navbar-right">
          <div>
            Heute ist der <span my-current-time="format"></span> Uhr
          </div>
        </div>
      </div>    
    </nav>
    
    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Ist schon Wochenende?</h1>
        <p>Jeden Freitag dieselbe Frage: ist schon Wochenende? Diese Seite gibt euch die Antwort.</p>
      </div>
      <p>
        <form class="form-inline" role="form">
          Sag uns, wann bei dir Wochenende ist!
          <div class="form-group" >
            <select ng-model="weekdaySel" ng-options="opt as opt.label for opt in optionsD" class="form-control" ></select>  
          </div>
          <div class="form-group" >
            <select ng-model="timeSel" ng-options="opt as opt.label for opt in optionsT" class="form-control"  ></select> Uhr
          </div>
        </form>
      </p>
      Noch <span ng-bind="daysUntil"></span> Tage und <span ng-bind="hoursUntil"></span> Stunden bis Wochenende.
     <h2 id="yes-no-maybe"></h2>
   </div>

   <div id="footer">
     <div class="container">
       <p class="text-muted">made with <i class="glyphicon glyphicon-heart"></i> by <a href="http://twitter.com/sm0k1nggnu">@sm0k1nggnu</a> / <a href="http://captain-obvious.de/impressum/">Impressum</a></p>
       <p>stuff: <a href="http://istmorgenfeiertag.de">Ist morgen Feiertag?</a> | <a href="http://sm0k1nggnu.github.io/Learn-Kana">Learn Hiragana &amp; Katakana online</a> | <a href="http://zwo.me">Zockwork Orange</a></p>
     </div>
   </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="js/app.js"></script>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2528511-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script type="text/javascript">
      window.___gcfg = {lang: 'de'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>